html, body{
    height: 100%;
}
main{
    text-align: center;
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer{
    position: absolute;
    bottom: 0;
}